@font-face {
    font-family: 'Super Funky';
    src: url('SuperFunky.woff2') format('woff2'),
        url('SuperFunky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

